

.btn-page
{
    color:#black;text-shadow:0 -1px 0 rgba(0,0,0,0.25);
    background-color:##D9EDC9;*background-color:#D9EDC9;background-repeat:repeat-x;background-image: linear-gradient(to bottom,#D9EDC9,#D9EDC9);
    border-left-color: #04c;
    border-right-color: #04c;
    border-top-color: #04c;
    border-bottom-color: #002a80;
}
 .btn-page:hover,.btn-page:active,.btn-page.active,.btn-page.disabled,.btn-page[disabled]
 {color:#black;background-color:#D9EDC9;*background-color:#green}.btn-page:active,.btn-page.active{background-color:#Green \9}.btn-warning{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-color:#faa732;*background-color:#f89406;background-repeat:repeat-x;background-image: linear-gradient(to bottom,#fbb450,#f89406);
    border-left-color: #f89406;
    border-right-color: #f89406;
    border-top-color: #f89406;
    border-bottom-color: #ad6704;
}